<!-- templates/_base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Social Login</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js"></script>
    <script>
        const socket = io();



        // Listen for messages
        socket.on("message", (data) => {
            addMessage(data.data);
        });

        // Listen for game updates
        socket.on("game_update", (data) => {
            console.log(data);
            document.getElementById("game-state-display").innerHTML = data.html;
        });

        // Listen for game updates
        socket.on("text_update", (data) => {
            addMessage(data.user_name,data.data);
            document.getElementById('foo').value = null;
        });

        // Listen for errors
        socket.on("error", (data) => {
            addMessage("Error: " + data.data);
        });

        function joinGame(roomId) {
            // Join the game room when page loads
            socket.emit("join_game", { room_id: roomId });
        }

        // Helper function to add messages to the message area
        function addMessage(userName, message) {
            const messagesDiv = document.getElementById("messages");
            const newMessage = document.createElement("p");
            newMessage.textContent = message ? userName+': '+message : userName;
            messagesDiv.appendChild(newMessage);
            messagesDiv.scrollTop = messagesDiv.scrollHeight;
        }

        // Send a game event
        function sendGameEvent(roomId, text) {
            socket.emit("game_event", {
                room_id: roomId,
                event: text
            });
        }

        // Leave the game room
        function leaveGame() {
            socket.emit("leave_game", { room_id: roomId });
            window.location.href = "/";
        }

        // Handle page unload (browser close, refresh, etc.)
        window.addEventListener("beforeunload", () => {
            socket.emit("leave_game", { room_id: roomId });
        });

        function makeTurn(id, gameId){
            document.getElementById(id).disabled = true;
            socket.emit("make_turn", {game_id: gameId, field_id: id, player_id: userId, room_id: roomId})
        }
    </script>
</head>
<body>
{% block content %} {% endblock content %}
</body>
</html>