<!-- templates/_base.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
    />
    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flask Social Login</title>
</head>
<body style="padding-top: 10%;">

{% block content %} {% endblock content %}

<div style="text-align:center;">
    {% if current_user.is_authenticated %}
        <h1>You are logged in as {{current_user.username}}</h1>
        <br><br>
        <a href="{{url_for('logout')}}" class="btn btn-danger">Logout</a>
    {% endif %}
</div>
</body>
</html>