<html>
<head>
    <title>TicTacToe-Python-Flask</title>
    <style>
        button {
            width: 50px;
            height: 50px;
            margin: 5px;
        }
        p {
            display: flex;
        }
        .main {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 40%;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
    <script>

    function makeTurn(id, gameId){
            document.getElementById(id).disabled = true;
            console.log('make_turn', gameId)
            fetch('http://127.0.0.1:5000/makeTurn', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ "field": id, "gameId": parseInt(gameId) })
            })
                .then(response => response.json())
                .then(async response => {
                    console.log('make_turn response:',JSON.stringify(response['grid']));
                    console.log('make_turn response:',JSON.stringify(response['winner']));
                    //await getHistory();
                    await updateDiv(id);
                })

            console.log();
        }

        function updateDiv(id)
        {
            $( "#playground" ).load(window.location.href + " #playground" );
        }

        async function getHistory() {
            await fetch('http://127.0.0.1:5000/gameHistory').then(response => {
                console.log('getHistory response:',JSON.stringify(response));
            })
        }

        function reset(gameId) {
            const current = Math.floor(Math.random() * 2)+1
            fetch('http://127.0.0.1:5000/reset', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ "gameId": parseInt(gameId), "currentPlayer": current })
            }).then(async response => {
                console.log(JSON.stringify(response));
                await updateDiv(undefined);
            })
        }

    </script>
</head>
<body>
<h1>Lets Play TicTacToe</h1>
<br>
<h1>Player1: {{ game['player1Name'] }}, Symbol: {{game['player1Symbol']}}</h1>
<h1>Player2: {{ game['player2Name'] }}, Symbol: {{game['player2Symbol']}}</h1>
{% set gameId = game['id'] %}
<button name="{{gameId}}" onclick="reset(this.name)">Reset Grid</button>
<div class="main">
    <div id="playground">
        <h1>current player: {{ game['currentPlayerName'] }}</h1>
        <h1>gameId: {{ game['id'] }}</h1>
        <h1>winner: {{ game['winner'] }}</h1>
        {% set foo = game['id'] %}
        {{ game['grid'] }}
        {% for row in game['grid'] %}
        {% set rowIndex = loop.index -1 %}
        <p>
            {% for col in row %}
            {% set colIndex = loop.index -1 %}
            {% set id = rowIndex,colIndex %}
                {% if col.isEnabled %}
                    <button name="{{gameId}}" id="{{id}}" onclick="makeTurn(this.id, this.name)">{{col['value']}}</button>
                {% else %}
                    <button disabled name="{{gameId}}" id={{rowIndex,colIndex}}
                            onclick="makeTurn(this.id, this.name)">{{col['value']}}</button>
                {% endif %}
            {% endfor %}
        </p>
        {% endfor %}
    </div>
</div>
</body>
</html>