<!-- templates/index.html -->

{% extends '_base.html' %}

{% block content %}
    <div style="text-align:center;">
        {% if user %}
            <a href="{{url_for('logout')}}" class="btn btn-danger">Logout</a>
        {% else %}
            <!-- Google button starts here -->
            <a href="{{url_for('login')}}"  class="btn btn-secondary">
                <i class="fa fa-google fa-fw"></i>
                <span>Login with Google</span>
            </a>
            <!-- Google button ends here -->
        {% endif %}
    </div>
{% endblock content %}