<html lang="eng">
<head>
    <title>TicTacToe-Python-Flask</title>
    <script>
        function createUser() {
            const a = 'foo' //prompt('Pls enter Player1 name: ')
            fetch('http://127.0.0.1:5000/createUser', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: undefined,
            }).then(response => response.json())
                .then(async response => {
                    await updateDiv(undefined)
                })
        }

        function startGame(){
            const a = 'foo' //prompt('Pls enter Player1 name: ')
            const b = 'bar' //prompt('Pls enter Player2 name:')
            const current = Math.floor(Math.random() * 2)+1
            console.log(current)
            fetch('http://127.0.0.1:5000/startGame', {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ "player1Name": a, "player2Name":b, "currentPlayer": current }),
            }).then(response => {
                if (response.redirected) {
                    window.location = response.url
                } else {
                    console.log(response)
                }
            })
        }

        function updateDiv(id)
        {
            $( "#playground" ).load(window.location.href + " #playground" );
            $( "#welcome" ).load(window.location.href + " #welcome" );
        }
    </script>
</head>
<body>
<h1>Welcome to TicTacToe-Python-Flask</h1>
<div id="welcome">
    {% if users|length >= 2 %}
        <button id="start" onclick="startGame()">Start a new Game</button>
    {% endif %}
    <button id="create_user" onclick="createUser()">Create User</button>
</div>
<div id="playground">
    <p>Users</p>
    <h3>Name</h3>
    {% for user in users %}
        id: {{user.id}}, name: {{user.name}} <br>
    {% endfor %}
</div>
</body>
</html>